html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open sans";
  color: #808080;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

@import "layout";
@import "headernavbar";
@import "page-title";
@import "form-fields";
@import "details";

// AUTH
@import "auth/signin.scss";
@import "auth/signup.scss";

// ACCOUNT
@import "account/account.scss";
@import "account/account-information";
@import "account/purchase-history";

//  SHOP
@import "shop/shop.scss";
@import "shop/shop-search-bar.scss";
@import "shop/shop-product.scss";

// CART
@import "shop/shop-cart.scss";
@import "shop/cart-product.scss";

// QUANTITY
@import "quantity";
@import "green-price-tag.scss";

// REVIEW
@import "order/review";
@import "order/reviewForm.scss";
@import "order/reviewProduct.scss";

// INFORMATION
@import "information/payment.scss";
@import "information/shipping.scss";

@import "information/infoHelp.scss";
